<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <div th:replace="fragments/header :: header-css" />
</head>

<body>

<div th:replace="fragments/header :: header" />

<div class="container">

    <div id="wrapper">
        <div class="flex">
            <h1 class="text-dark text-center" th:text="${post.title}">title</h1>
        </div>
        <div class="flex">
            <form action="/profile/posts/savepost"
                  th:action="@{/profile/posts/savepost}"
                  th:object="${post}"
                  method="post">

                <input type="hidden"
                       th:name="id"
                       th:value="*{id}"
                       th:field="*{id}"
                />

                <div class="form-group">
                    <label for="date" class="control-label">Post Date</label>
                    <input type="date" class="form-control"
                           th:name="date" id="date"
                           th:value="${#dates.format(post.date, 'yyyy-MM-dd')}"
                           th:field="*{date}"
                    />
                    <span class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label for="title" class="control-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title"
                           th:value="*{title}"
                           th:field="*{title}"
                    />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="text" class="control-label">Text</label>
                    <input type="text-area" class="form-control" id="text" name="text"
                           th:value="*{text}"
                           th:field="*{text}"
                    />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                        <input type="checkbox" class="checkbox active badge-dark" id="visibleAll"
                               th:name="visibleAll"
                               th:value="*{visibleAll}"
                               th:field="*{visibleAll}"
                               checked="*{visibleAll}"
                        >&nbsp; Visible for All:</input>
                </div>

                <div class="form-group" >
                    <input type="submit" value="Save" class="btn btn-outline-dark" />
                </div>

            </form>

            <form action="/profile/posts/delete"
                  th:action="@{/profile/posts/delete}"
                  method="post">
                <input type="hidden"
                       th:name="id"
                       th:value="${post.id}"
                />
                <div class="form-group">
                    <input type="submit" value="delete" class="btn btn-danger" />
                </div>

            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer" />

</body>
</html>